@charset "UTF-8";
@font-face {
     font-family: 'S-CoreDream-3Light';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}

html,body { height: 100%; letter-spacing: -1px; }
body {
  font-size: 15px;
  line-height: 1.667;
  font-family: '맑은 고딕','Malgun Gothic','나눔고딕',NanumGothic,Helvetica,sans-serif;
  color: #555;
  letter-spacing: -1px;
}
ul, ol { list-style: none; }
a { text-decoration: none; color: inherit; }
h1,h2,h3,h4,h5,h6 { line-height: 1; margin: 0; padding: 0; font-weight: 600; font-size: inherit; }

#snb {
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 1005;
  background-color: #fff;
  border-bottom: 1px solid #ececec;
}

#snb .siteUtilGroup {
  position: relative;
  display: flex;
  align-items: center;
  justify-content:space-between;
  width: 100%;
  max-width: 1400px;
  height: 44px;
  padding-right: 180px;
  box-sizing: border-box;
  z-index: 10;
}

#snb .siteUtilGroup .linkSite {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#snb .siteUtilGroup .linkSite > div > a {
  display: flex;
  align-items: center;
  height: 45px;
  padding: 0px 20px;
  font-family: 'S-Core Dream 5';
  font-size: 16px;
  border-right: 1px solid #ececec;
  line-height: 1;
}

#snb .siteUtilGroup .linkSite > div:nth-child(1) {
  border-left: 1px solid #ececec;
}

/*-----------------------------------*/

#snb #siteMenu {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  height: 100%;
}

#snb #siteMenu div {
  position: relative;
}

#snb #siteMenu div + div {
  margin-left: 18px;
}

#snb #siteMenu div a {
  display: flex;
  align-items: center;
  font-family: 'S-Core Dream 5';
  font-size: 14px;
}

#snb #siteMenu div a:before {
  content:'';
  margin-right: 7px;
  margin-left: 14px; /*내가함*/
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

#snb #siteMenu div.login a:before {
  width: 14px;
  height: 19px;
  background-image: url('../img/icon/ico_siteJoin.png');
}

#snb #siteMenu div.join a:before {
  width: 13px;
  height: 18px;
  background-image: url('../img/icon/ico_siteLogin.png');
}

#snb #siteMenu div.langs a:before {
  width: 17px;
  height: 17px;
  background-image: url('../img/icon/ico_siteLangs.png');
}

/*-----------------------------------*/

#snb .onceView {
  position: absolute;
  right: 0;
  top: 0;
}

#snb .onceView .onceViewBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 44px;
  font-family: 'S-Core Dream 5';
  font-size: 17px;
  line-height: 1;
  color: #fff;
  letter-spacing: -0.5px;
  background-color: #636676;
  border-radius: 0px 0px 10px 10px;
  border-style: none;
}

#snb .onceView .onceViewBtn:before {
  content: '';
  width: 15px;
  height: 15px;
  margin-right: 9px;
  background-image: url('../img/icon/ico_onceView.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

/*-----------------------------------*/

#header .headerInner {
  position: relative;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}
#header .headerInner .logo {
  position: absolute;
  left: 0;
  top: 21px;
  z-index: 200;
}

#header .headerInner .logo a {
  display: block;
}

#header .headerInner img {
  /* transition: all .3s; */
  /* width: 139px;
  height: 47px; */
}

/*-----------------------------------*/

#header .gnb_area {
  position: relative;
  z-index: 100;
  background-color: #fff;
  border-bottom: 1px solid #ececec;
}

#header .gnb_area .btnTopArea {
  position: absolute;
  top: 31px;
  right: 50%;
  display: flex;
  margin-right: -700px;
  z-index: 402;
}

#header .gnb_area .btnTopArea a {
  margin: 10px 5px; /*내꺼*/
}

/*-----------------------------------*/

#header #gnbNav {
    /* position: fixed; */
  }

#header #gnbNav #gnb {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  max-width: 1400px;
  height: 95px;
  margin: 0 auto;
  padding-top: 10px;
  padding-right: 140px;
  box-sizing: border-box;
  z-index: 401px;
  transition: all 0.3s;
}

#header #gnbNav #gnb > li {
  height: 100%;
}

#header #gnbNav #gnb > li > a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 29px;
  font-family: 'S-Core Dream 5';
  font-size: 21px;
  color: #222;
  text-align: center;
  z-index: 1;
  transition: all 0.3s;
}

#header #gnbNav #gnb > li > a:hover {
  color: #d84048;
}

/*-----------------------------------*/

#header #gnbNav #gnb > li > ul {
  position: absolute;
  left: 0px;
  top: 95px;
  width: calc(100% + 30px );
  width: 100%;
  margin-left: -30px;
  padding: 30px 0px;
  background: #fff;
  /* display: flex;
  flex-wrap: wrap; */
  display: none;
}

#header #gnbNav #gnb > li:hover > ul {
  display: block;
  display: flex;
  flex-wrap: wrap;
}

#header #gnbNav #gnb > li > ul > li {
  display: flex;
  flex-direction: column;
  width: calc( 20% - 30px );
  margin-left: 30px;
  margin-bottom: 5px;
}


#header #gnbNav #gnb > li > ul > li > a {
  position: relative;
  width: 100%;
  padding: 10px 15px;
  font-family: 'S-Core Dream 5';
  font-size: 16px;
  color: #555;
  transition: 0.3s;
  background-color: #fff;
  border: 1px solid #c5c9d6;
  border-radius: 5px;
  box-sizing: border-box;
}

#header #gnbNav #gnb > li > ul > li.check > a {
  color: #fff;
  background-color: #d84048;
  border: 1px solid #d84048;
}

#header #gnbNav #gnb > li > ul > li > a:hover {
  color: #fff;
  background-color: #d84048;
  border: 1px solid #d84048;
}

#gnb > li > ul > li > a:after {
  content: '';
  position: absolute;
  right: 13px;
  top: 50%;
  width: 10px;
  height: 16px;
  margin-top: -8px;
  background-image: url('../img/icon/arr_gnb_gray.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition: all 0.25s;
  transform: rotate(90deg);
}

#gnb > li > ul > li.no_arrBtn > a:after {
    background-image: none;
}

#header #gnbNav #gnb li > ul > li > ul {
  margin-top: 8px;
  margin-bottom: 15px;
}

#header #gnbNav #gnb li > ul > li > ul a {
  position: relative;
  display: block;
  width: 100%;
  font-size: 15px;
  line-height: 30px;
  font-family: '맑은 고딕','Malgun Gothic','나눔고딕',NanumGothic,Helvetica,sans-serif;
  padding: 0px 15px 0px 26px;
  box-sizing: border-box;
}

#header #gnbNav #gnb li > ul > li > ul a:before {
  content: '';
  position: absolute;
  left: 17px;
  top: 10px;
  width: 3px;
  height: 3px;
  background-color: #999;
  border-radius: 100%;
}

/*-----------------------------------*/
/*-----------------------------------*/

#middle {
  overflow: hidden;
  background-color: #f3f4f8;
  padding: 10px 0px 30px;
}

#middle .bgColor {
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
  /* z-index: 1; */
  width: 100%;
  background-color: red;
  height: 100%;
}

/*-----------------------------------*/

#leftNav {
  float: left;
  width: 240px;
}

#leftNav h2 {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 130px;
  padding-top: 5px;
  font-family: 'S-Core Dream 5';
  font-size: 26px;
  font-weight: normal;;
  line-height: 1;
  color: #fff;
  background-color: #238dcf;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  box-sizing: border-box;
  border-radius: 30px 0px 0px 0px;
}

#leftNav ul.lnb {
  background-color: #fff;
}

#leftNav ul.lnb > li > a {
  display: block;
  padding: 0px 20px;
  line-height: 42px;
  font-family: 'S-Core Dream 4';
  border-bottom: 1px solid #e4e4e4;
}

#leftNav ul.lnb > li > a:hover {
  text-decoration: underline;
}

#leftNav ul.lnb > li > a.check {
  color: #fff;
  text-decoration: none;
  border: 0;
  background-color: #6a6e78;
}

#leftNav ul.lnb li a[target="_blank"]:after {
  content: '';
  display: inline;
  padding-right: 18px;
  background-image: url('../img/icon/ico_blank.png');
  background-repeat: no-repeat;
  background-position: 100% 50%;
}

/*-----------------------------------*/

#contentZone {
  float: right;
  width: 1080px;
  padding: 34px;
  border: 1px solid #e4e4e4;
  background-color: #fff;
}

#contentZone .naviTitle {
  overflow: hidden;
  position: relative;
  min-height: 40px;
}

#contentZone .naviTitle h3 {
  padding-top: 30px;
  font-family: 'S-Core Dream 5';
  font-size: 32px;
  font-weight: normal;
  line-height: 40px;
  color: #333;
}

#contentZone .naviTitle .navi {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 1;
  color: #666;
  letter-spacing: -0.05em;
}

#contentZone .naviTitle .navi a span:before {
  content: '';
  display: inline-block;
  width: 18px;
  height: 16px;
  background-image: url('../img/icon/ico_home.png');
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

#contentZone .naviTitle .navi > span,
#contentZone .naviTitle .navi > strong {
  display: inline-block;
  position: relative;
  margin-left: 4px;
  vertical-align: top;
}

/*-----------------------------------*/

#contentZone .naviTitle .rightIcon {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 30;
  box-sizing: border-box;
  display: flex;
}

#contentZone .naviTitle .rightIcon a {
  display: block;
  position: relative;
  width: 41px;
  height: 40px;
  margin-left: 5px;
  line-height: 0;
  background-image: url('../img/icon/ico_sp.png');
  background-position: 0px -30px;
  background-repeat: no-repeat;
}

#contentZone .naviTitle .rightIcon a.print {
  background-position: -50px -30px;
}

/*-----------------------------------*/

#contentZone .contents {
  min-height: 600px;
  position: relative;
  padding: 25px 0px 10px;
}

#contentZone .contents .topText {
  padding-left: 15px;
}

#contentZone .contents form.tableForm {
  position: relative;
  margin: 5px 0px;
}

#contentZone .contents form.tableForm table {
  table-layout: fixed;
  border-top: 2px solid #666;
  border-bottom: 1px solid #ddd;
  empty-cells: show;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

#contentZone .contents form.tableForm table tr th,
#contentZone .contents form.tableForm table tr td {
  padding: 10px 3px;
  text-align: center;
  border-top: 1px solid #ddd;
  word-break: break-all;
}

#contentZone .contents form.tableForm table tr th {
  font-weight: bold;
}

#contentZone .contents form.tableForm table tr:nth-child(1) th {
  border-top: 0;
}

#contentZone .contents form.tableForm table tr td.boldLine {
  border-top: 1px solid #666;
}

#contentZone .contents form.tableForm table tr td.tit {
  display: block;
  padding: 10px 5px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#contentZone .contents form.tableForm table tr td.tit:hover {
  text-decoration: underline;
}

#contentZone .contents form.tableForm table tr td > span {
  display: inline-block;
  padding: 2px 8px 3px;
  color: #fff;
  border-radius: 25px;
  font-size: 14px;
  line-height: 1;
}

#contentZone .contents form.tableForm table tr td > span.noti {
  background-color: #3f5f9f;
}

#contentZone .contents form.tableForm table tr td > span.new {
    background-color: #ff5c03;
}

/*-----------------------------------*/

#contentZone .contents .pagingWrap {
  overflow: hidden;
  position: relative;
  min-height: 30px;
  margin-top: 20px;
  padding: 2px 0px;
  text-align: center;
}

#contentZone .contents .pagingWrap a {
  display: inline-block;
  padding: 0px 10px;
  height: 27px;
  margin: 0px 2px;
  line-height: 27px;
  text-align: center;
  vertical-align: top;
  border: 1px solid #ddd;
}

#contentZone .contents .pagingWrap a.fill {
  background-color: #3f5f9f;
  color: #fff;
  border: 1px solid #3f5f9f;
}

#contentZone .contents .pagingWrap a.pageBtn {
  width: 8px;
  height: 27px;
  line-height: 27px;
  background-image: url('../img/icon/arr_sp.png');
  background-repeat: no-repeat;
  background-position: 0px 0px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

#contentZone .contents .pagingWrap a.pageBtn.next {
  margin-left: 5px;
  background-position: 0px -50px;
}

#contentZone .contents .pagingWrap a.pageBtn.last {
  margin-left: 5px;
  background-position: 0px -75px;
}

/*-----------------------------------*/

#contentZone .contents form#searchForm {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #f6f8fb;
}

#contentZone .contents form#searchForm .pageSearch {
  overflow: hidden;
  margin: 0;
  text-align: center;
  padding: 20px 0px;
  /* display: inline-block;
  vertical-align: middle; */
}

#contentZone .contents form#searchForm .pageSearch .schSel {
  min-width: 100px;
  padding: 0px 24px 0px 4px;
  height: 32px;
  line-height: 32px;
  font-size: inherit;
  border: 1px solid #e1e1e1;
  border-radius: 0;
  box-sizing: border-box;
  appearance: none;
  background-color: #fff;
  background-image: url('../img/icon/arr_select.png');
  background-repeat: no-repeat;
  background-position: 100% 50%;
  color: #333;
}

#contentZone .contents form#searchForm .pageSearch .schKwd {
  width: 360px;
  padding: 0px 5px;
  vertical-align: middle;
  height: 32px;
  line-height: 32px;
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
  /* border-radius: 0;
  resize: none;
  background: #fff; */
}

#contentZone .contents form#searchForm .pageSearch .schBtn {
  display: inline-block;
  min-width: 40px;
  padding: 0px 10px;
  line-height: 30px;
  color: #fff;
  background-color: #3f5f9c;
  /* text-align: center; */
  border: 0;
  box-sizing: border-box;
}

/*-----------------------------------*/

#contentZone .contents .satisfaction {
  position: relative;
  margin-top: 60px;
  border: 1px solid #e4e4e4;
}

#contentZone .contents .satisfaction .office {
  padding: 8px 20px;
  border-bottom: 1px solid #e4e4e4;
  background-color: #f3f4f8;
  overflow: hidden;
}

#contentZone .contents .satisfaction .office .tel {
  float: right;
}

#contentZone .contents .satisfaction .office::after {
  content: '';
  display: block;
  clear: both;
}

#contentZone .contents .satisfaction .satispollCore {
  padding: 20px 20px 20px 120px;
  background-image: url('../img/icon/img_satisfaction.gif');
  background-repeat: no-repeat;
  background-position: 20px;
}

#contentZone .contents .satisfaction .satispollCore p span {
  color: #3f5f9c;
}

#contentZone .contents .satisfaction .satispollCore p a.click {
  display: inline-block;
  padding-right: 5px;
  background: #7988d5;
  border-radius: 5px;
}

#contentZone .contents .satisfaction .satispollCore p a.click span {
  padding: 3px 15px 3px 5px;
  color: #fff;
  background-image: url('../img/icon/ico_click.png');
  background-repeat: no-repeat;
  background-position: right 51%;
}

#contentZone .contents .satisfaction .satispollCore form ul {
  margin: 10px 0px 5px;
}

#contentZone .contents .satisfaction .satispollCore form ul li {
  float: left;
  /* margin-right: 30px; */
  margin: 5px 30px 5px 0px;
  line-height: 22px;
}

#contentZone .contents .satisfaction .satispollCore form ul li label {
  display: flex;
  align-items: center;
}

#contentZone .contents .satisfaction .satispollCore form .satisComment {
  position: relative;
  padding-right: 90px;
}

#contentZone .contents .satisfaction .satispollCore form .satisComment #comment {
  width: 100%;
  border-color: #e4e4e4;
  vertical-align: middle;
  height: 32px;
  padding: 0px 4px;
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
  /* resize: none;
  background: #fff; */
}

#contentZone .contents .satisfaction .satispollCore form .satisComment a.schBtn {
  display: block;
  position: absolute;
  top: 32px;
  right: 0px;
  width: 90px;
  padding: 0px;
  line-height: 32px;
  color: #fff;
  text-align: center;
  background-color: #3f5f9f;
}

#contentZone .contents .satisfaction #btnTopScroll {
  position: absolute;
  right: -75px;
  bottom: -45px;
  width: 40px;
  height: 20px;
  padding-top: 20px;
  line-height: 1;
  color: #fff;
  text-align: center;
  background-color: #6a83b5;
  background-image: url('../img/icon/ico_top.png');
  background-repeat: no-repeat;
  background-position: 50% 7px;
}










/*-----------------------------------*/
/*-----------------------------------*/

#footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #fff;
  color: #000;
}

#footer .familySiteGroup {
  display: flex;
  justify-content: center;
  width: 100%;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
}

#footer .familySiteGroup .familySiteSelect {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 1400px;
  color: #333;
}

#footer .familySiteGroup .familySiteSelect li {
  width: 33.333%
}

#footer .familySiteGroup .familySiteSelect li:nth-child(1) {
  border-left: 1px solid #e8e8e8;
}

#footer .familySiteGroup .familySiteSelect li a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 58px;
  padding: 0px 25px;
  font-family: 'S-Core Dream 4';
  font-size: 17px;
  border-right: 1px solid #e8e8e8;
  box-sizing: border-box;
}

#footer .familySiteGroup .familySiteSelect li a:after {
  content: '';
  width: 14px;
  height: 8px;
  background-image: url('../img/icon/arr_select2.png');
  background-repeat: no-repeat;
  background-position: 0px 0px;
  /* transition: all 0.3s; */
}

/*-----------------------------------*/

#footer .footerInner {
  position: relative;
  width: 100%;
  max-width: 1400px;
  padding: 30px 0px 60px 20px;
  color: #333;
  box-sizing: border-box;
}

#footer .footerInner .fnb {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

#footer .footerInner .fnb li {
  position: relative;
  margin: 5px 8px 5px 0px;
  padding-right: 2px;
  line-height: 1;
}

#footer .footerInner .fnb li:nth-child(1) {
  color: #d84048;
}

#footer .footerInner .fnb li a span {
  padding-left: 9px;
  color: #bababa;
}

#footer .footerInner .addr {
  display: flex;
}

#footer .footerInner .addr > div {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-right: 120px;
  line-height: 1;
}

#footer .footerInner .addr > div address,
#footer .footerInner .addr > div cite {
  font-style: normal;
}

#footer .footerInner .addr > div cite {
  color: #777;
  margin-top: 12px;
}

#footer .footerInner .addr > div a img {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#footer .footerInner .markWrap {
  position: absolute;
  right: 0;
  bottom: 75px;
  display: inline-flex;
  align-items: center;
}

#footer .footerInner .markWrap a {
  margin-left: 20px;
}

#footer .footerInner .markWrap a:nth-child(1) {
  margin-left: 0px;
}











/**/
